<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tech Shop</title>
</head>
<body>
    <img src="https://fotosperfillongobucco.s3.us-east-1.amazonaws.com/file_0000000060ec61f6b99830ac2a6f9ac8.png" alt="Logo da empresa" width="100" height="100">
    <h1>Olá, <span th:text="${name}"></span>!</h1>
    <p>Email de confirmação.</p>
    
    <p>
        Clique nesse link para verificar sua conta:
        <a th:href="'http://localhost:3000/verify/' + ${code}" target="_blank">
            Verificar agora
        </a>
    </p>
</body>
</html>
